.screen-container {
  width: 100%;
  height: 100%;
  background-color: #1e2a3e;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-image: url("https://images2.alphacoders.com/111/1111058.png");
  background-size: cover;
}

.flex {
  display: flex;
}
